{{#columnModel.isFirstColumn}}
<row>
{{/columnModel.isFirstColumn}}
<{{columnModel.columnHeader}}>{{cellValue}}</{{columnModel.columnHeader}}>
{{#columnModel.isLastColumn}}
</row>
{{/columnModel.isLastColumn}}