<{{columnModel.columnIdentifier}}>
    <location 
        latitude="{{location.latitude}}" 
        longitude="{{location.longitude}}" 
        altitude="{{location.altitude}}"
        accuracy="{{location.accuracy}}"
    />
</{{columnModel.columnIdentifier}}>
{{#columnModel.isLastColumn}}
</row>
{{/columnModel.isLastColumn}}