<{{columnModel.columnIdentifier}}>
    <collection>
        {{#locationList}}
        <collectionValue>
            <location 
                latitude="{{location.latitude}}" 
                longitude="{{location.longitude}}" 
                altitude="{{location.altitude}}"
                accuracy="{{location.accuracy}}"
            />
        </collectionValue>
        {{/locationList}}
    </collection>
</{{columnModel.columnIdentifier}}>
{{#columnModel.isLastColumn}}
</row>
{{/columnModel.isLastColumn}}