<{{columnModel.columnIdentifier}}>
    <collection>
        {{#cellValues}}
        <collectionValue>{{.}}</collectionValue>
        {{/cellValues}}
    </collection>
</{{columnModel.columnIdentifier}}>
{{#columnModel.isLastColumn}}
</row>
{{/columnModel.isLastColumn}}