{{!Define the MeasuredValue to point to a collection}}
:measuredValue_{{cellIdentifier}} oboe-core:hasCode (
{{#locationList}}
    :pathElement_{{cellIdentifier}}_{{pathElementIndex}}
{{/locationList}}
) .
{{!Define the collection elements to be Points with latitude, longitude, altitude}}
{{#locationList}}
    :shapeElement_{{cellIdentifier}}_{{pathElementIndex}} rdf:type geo:Point .
    :shapeElement_{{cellIdentifier}}_{{pathElementIndex}} geo:lat "{{{location.latitude}}}" .
    :shapeElement_{{cellIdentifier}}_{{pathElementIndex}} geo:long "{{{location.longitude}}}" .
    :shapeElement_{{cellIdentifier}}_{{pathElementIndex}} geo:alt "{{{location.altitude}}}" .
{{/locationList}}
