{{!Define the MeasuredValue to point to a collection}}
:measuredValue_{{cellIdentifier}} oboe-core:hasCode (
    {{#locationList}}
        :pathElement_{{cellIdentifier}}_{{pathElementIndex}}
    {{/locationList}}
) .
{{!Define the collection elements to be Points with latitude, longitude, altitude}}
{{#locationList}}
:pathElement_{{cellIdentifier}} rdf:type geo:Point .
:pathElement_{{cellIdentifier}}  geo:lat "{{{location.latitude}}}" .
:pathElement_{{cellIdentifier}}  geo:long "{{{location.longitude}}}" .
:pathElement_{{cellIdentifier}}  geo:alt "{{{location.altitude}}}" .
{{/locationList}}
