{{!Each column describes an Observation}}
:obs_{{columnEntityIdentifier}} rdf:type oboe-core:Observation .
:obsCol_{{topLevelModel.toplevelEntityIdentifier}} oboe-core:hasMember :obs_{{columnEntityIdentifier}} .
