{{!Relate the actual cell-value to the MeasuredValue}}
{{#date}}
{{#time}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} :hasValue "{{{date}}}T{{{time}}}"^^xsd:dateTime .
{{/time}}
{{/date}}
