{{!Define the value of the QuantityValue to be a Point}}
{{cellEntityIdentifier}} :hasValue :location_{{cellEntityIdentifier}} .
:location_{{cellEntityIdentifier}} rdf:type geo:Point .
{{!Define latitude, longitude and altitude}}
{{#location.latitude}}
:location_{{cellEntityIdentifier}} geo:lat "{{{location.latitude}}}" .
{{/location.latitude}}
{{#location.longitude}}
:location_{{cellEntityIdentifier}} geo:long "{{{location.longitude}}}" .
{{/location.longitude}}
{{#location.altitude}}
:location_{{cellEntityIdentifier}} geo:alt "{{{location.altitude}}}" .
{{/location.altitude}}