{{columnEntityIdentifier}} rdf:type oboe-core:Observation .
{{topLevelModel.toplevelEntityIdentifier}} oboe-core:hasMember {{columnEntityIdentifier}} .
{{#isFirstColumn}}
    Hello, this is the first column
{{/isFirstColumn}}
{{#isLastColumn}}
    Hello, this is the last column
{{/isLastColumn}}