{{!User defined namespaces}}
@base <{{.}}> .
@prefix : <{{.}}> .
{{!All namespaces that are used in any oboe templates}}
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix qudt: <http://qudt.org/schema/qudt#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix dc: <http://purl.org/dc/elements/1.1/> .
@prefix qudt-1.1: <http://qudt.org/1.1/schema/qudt#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dtype: <http://www.linkedmodel.org/schema/dtype#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix base: <http://qudt.org/1.1/schema/qudt> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix geo: <http://www.w3.org/2003/01/geo/wgs84_pos#> .
@prefix dcterms: <http://purl.org/dc/terms/> .