#Row {{rowModel.rowId}}, Column {{columnModel.columnHeader}}
{{!Construct an oboe-core:Measurement for the latitude}}
{{cellEntityIdentifier}} rdf:type oboe-core:Measurement .
{{!Relate the Measurement to the Observation}}
{{columnModel.columnEntityIdentifier}} oboe-core:hasMeasurement {{cellEntityIdentifier}}  .
{{!Construct an oboe-core:MeasuredValue for the latitude}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} rdf:type oboe-core:MeasuredValue .
{{!Relate the Measurement to the MeasuredValue}}
{{cellEntityIdentifier}} oboe-core:hasValue :measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} .
{{!Define the MeasuredValue to be a Point}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} rdf:type geo:Point .
{{!Define latitude, longitude and altitude}}
{{#location.latitude}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} geo:lat "{{location.latitude}}" .
{{/location.latitude}}
{{#location.longitude}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} geo:long "{{location.longitude}}" .
{{/location.longitude}}
{{#location.altitude}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} geo:alt "{{location.altitude}}" .
{{/location.altitude}}
{{!Define accuracy using oboe-core:hasPrecision}}
{{#location.accuracy}}
{{cellEntityIdentifier}} oboe-core:hasPrecision "{{location.accuracy}}"
{{/location.accuracy}}

