#Row {{rowModel.rowId}}, Column {{columnModel.columnHeader}}
{{!Construct an oboe-core:Measurement for the latitude}}
{{cellEntityIdentifier}} rdf:type oboe-core:Measurement .
{{!Relate the Measurement to the Observation}}
{{columnModel.columnEntityIdentifier}} oboe-core:hasMeasurement {{cellEntityIdentifier}}  .
{{!Construct an oboe-core:MeasuredValue for the latitude}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} rdf:type oboe-core:MeasuredValue .
{{!Relate the Measurement to the MeasuredValue}}
{{cellEntityIdentifier}} oboe-core:hasValue :measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} .
{{!Define the MeasuredValue to point to a collection}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} oboe-core:hasCode (
{{#locationList}}
    :pathElement{{rowModel.rowId}}_{{columnModel.columnHeader}}_{{pathElementIndex}}
{{/locationList}}
) .
{{!Define the collection elements to be Points with latitude, longitude, altitude}}
{{#locationList}}
    :shapeElement{{rowModel.rowId}}_{{columnModel.columnHeader}}_{{pathElementIndex}} rdf:type geo:Point .
    :shapeElement{{rowModel.rowId}}_{{columnModel.columnHeader}}_{{pathElementIndex}} geo:lat "{{location.latitude}}" .
    :shapeElement{{rowModel.rowId}}_{{columnModel.columnHeader}}_{{pathElementIndex}} geo:long "{{location.longitude}}" .
    :shapeElement{{rowModel.rowId}}_{{columnModel.columnHeader}}_{{pathElementIndex}} geo:alt "{{location.altitude}}" .
{{/locationList}}

