#Row {{rowModel.rowId}}, Column {{columnModel.columnHeader}}
{{!Construct an oboe-core:Measurement for the cell}}
:measurement_{{rowModel.rowId}}_{{columnModel.columnHeader}} rdf:type oboe-core:Measurement .
{{!Relate the Measurement to the Observation}}
:column_{{columnModel.columnHeader}} oboe-core:hasMeasurement :measurement_{{rowModel.rowId}}_{{columnModel.columnHeader}} .
{{!Construct an oboe-core:MeasuredValue for the cell}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} rdf:type oboe-core:MeasuredValue .
{{!Relate the Measurement to the MeasuredValue}}
:measurement_{{rowModel.rowId}}_{{columnModel.columnHeader}} oboe-core:hasValue :measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} .
{{!Relate the actual cell-value to the MeasuredValue}}
:measuredValue_{{rowModel.rowId}}_{{columnModel.columnHeader}} oboe-core:hasCode "{{time}}"^^{{columnModel.xsdDatatype}} .
